#navbar {
	background-color: #f0f8ff;
}
.navbar-light {
	background-color: #f0f8ff !important;
}
.bg-light {
	background-color: #d3d3d3;
}
.btn-primary {
	background-color: #254869;
	border-color: #254869;
}
.btn-primary:hover {
	background-color: #254869;
	border-color: #254869;
}
.jumbotron {
	background-color: #f0f8ff;
}
main {
	background-color: #fafafa;
}
footer {
	background-color: #fafafa;
}