#navbar {
	background-color: #fff;
}
.navbar-light {
	background-color: #fff !important;
}
.bg-light {
	background-color: #d3d3d3;
}
.btn-primary {
	background-color: #0F2F4E;
	border-color: #0F2F4E;
}
.btn-primary:hover {
	background-color: #254869;
	border-color: #254869;
}
.btn-secondary {
	background-color: #254869;
	border-color: #254869;
}
.btn-secondary:hover {
	background-color: #254869;
	border-color: #254869;
}
.jumbotron {
	background-color: #fff;
}
main {
	background-color: #fff;
}
footer {
	background-color: #fff;
}
.linkedin {
	height: 30px;
	width: 30px;
}
.email {
	height: 30px;
	width: 30px;
}
.projects-btn {
	width: 22%;
}
.email-btn {
	width: 21%;
}