#navbar {
	background-color: #fffffb;
}
.navbar-light {
	background-color: #fffffb !important;
}
.bg-light {
	background-color: #d3d3d3;
}
.btn-primary {
	background-color: #0F2F4E;
	border-color: #0F2F4E;
}
.btn-primary:hover {
	background-color: #254869;
	border-color: #254869;
}
.btn-secondary {
	background-color: #254869;
	border-color: #254869;
}
.btn-secondary:hover {
	background-color: #254869;
	border-color: #254869;
}
.jumbotron {
	background-color: #fffffb;
}
main {
	background-color: #fffffb;
}
footer {
	background-color: #fffffb;
}
.linkedin {
	height: 30px;
	width: 30px;
}
.email {
	height: 30px;
	width: 30px;
}
.projects-btn {
	width: 22%;
}
.resume-btn {
	width: 21%;
}
.prof_pic {
	height: 250px;
	width: 250px;
}
.project_img {
	height: 250px;
	width: 350px;
}
/* Media Rules Start Here */

@media only screen and (max-width: 1200px) {
  .project_img {
    height: 200px;
	width: 300px;
  }
}
@media only screen and (max-width: 1024px) {
  .project_img {
    height: 200px;
	width: 200px;
  }
}
@media only screen and (max-width: 800px) {
  .project_img {
    height: 150px;
	width: 200px;
  }
  .prof_pic {
  	height: 400px;
  	width: 325px;
  }
  .projects-btn {
	width: 48%;
	margin-right: 5px !important;
  }
  .resume-btn {
	width: 48%;
  }
}
@media only screen and (max-width: 640px) {
  .project_img {
    height: 400px;
	width: 500px;
  }
  .prof_pic {
  	height: 350px;
  	width: 500px;
  }
}

